body{
    background-image:url(../img/fundo.png);

}



#topo{
    font-family: 'Indie Flower', cursive;  
    font-size: 80px;
    text-align: center;
    margin: auto;
    width: auto;
    height: 200px;
 

}


#topo{
    font-family: 'Indie Flower', cursive;  
    font-size: 80px;
    text-align: center;
    margin: auto;
    width: auto;
    height: 200px;
 

}



#menu{
    
    width:auto;
    height: 50px;
    font-family: 'Indie Flower', cursive;
font-family: 'Courgette', cursive;
text-align: center;


}



#meio{

    font-family: 'Cantarell', sans-serif;




}

.tx{
font-size: 20px;
    
}

.ta{
text-align: center;
font-size: 45px;
color: peru;
font-family: 'Indie Flower', cursive; 
}


.to{
    text-align: center;
    font-size: 42px;
   color: peru;
   font-family: 'Indie Flower', cursive; 
    }

hr{
    
    

}